body {
    font-family: Arial, sans-serif;
    background: url('background.webp') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.hamburger-menu {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger-icon {
    background-color: rgba(255, 223, 186, 0.9);
    border-radius: 50%;
    padding: 10px;
}

.hamburger-icon svg {
    width: 20px;
    height: 20px;
    fill: #333;
}

.dropdown {
    display: none;
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f1f1f1;
}

.dialog-box {
    background: rgba(255, 223, 186, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.dialog-box h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.dialog-box form {
    display: flex;
    flex-direction: column;
}

.dialog-box form div {
    margin-bottom: 10px;
    text-align: left;
}

.dialog-box form label {
    display: block;
    margin-bottom: 5px;
}

.dialog-box form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dialog-box button {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.dialog-box button:hover {
    background: #555;
}

